@font-face {
    font-family: SnellenMK;
    src: url(Snellen.otf);
}
@font-face {
    font-family: OpticalK;
    src: url(Optiker-K.ttf);
}
@font-face {
    font-family: Eyechart;
    src: url(Eyechart.ttf);
}
@font-face {
    font-family: Eyechart_Lea;
    src: url(Eyechart_Lea.ttf);
}
@font-face {
    font-family: Tamil;
    src: url(ChenetP5B.ttf);
}
@font-face {
    font-family: Malayalam;
    src: url(ML-TTAmbiliNormal.ttf);
}
body {
    color: rgb(51, 51, 51);
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.grid {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.rg {
    background: linear-gradient(to right,rgb(255, 0,0) 50%, rgb(0,255,0) 50%);
    display: grid;
    place-content: center;
}
.red {
    color: red;
}
.green {
    color: green;
    display: flex;
    justify-content: space-between;
}
.white {
    color: white;
}
.med {
    background: black;
}
.c1 {
    color: rgba(0, 0, 0, 0.7);
}
.c2 {
    color: rgba(0, 0, 0, 0.3);
}
.ish {
    border-radius: 50%;
}
.scc {
    display: flex;
    justify-content: space-between;
}
.btn-symbol-box-scc {
    border-width: 0px;
}
.gridcell button {
    /* border: 2px solid DodgerBlue; */
    cursor: pointer; 
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
}
.gridcell button:focus{
    color: rgba(255, 255, 255, 1);
    background: rgb(126, 23, 146);
}
.gridcell button:focus .c1{
    color: rgba(255, 255, 255, 0.7);
}
.gridcell button:focus .c2{
    color: rgba(255, 255, 255, 0.3);
}
.gridcell button:focus svg{
    fill: rgb(255, 255, 255);
}
.gridcell:focus, .gridcell *:focus {
	/* outline: DodgerBlue;  */
    outline: #ffffff00;
    outline-style: solid;
}
button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 0px;
}
.btn-symbol {
    font-family: Eyechart_Lea;
}
.btn-symbol-a {
    font-family: OpticalK;
}
.btn-symbol-box-se {
    border-style: solid;
    display: grid;
    place-items: center;
}
.btn-symbol-box {
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#fullscreen {
    display: none;
    position: absolute;
    transform: translate(100vw, -50vh) translate(-115px,25px);
    border-radius: 5%;
    border-style: none;
    cursor: pointer;
    font-size: large;
}
#chart {
    width: 100vw;
    height: 100vh;
    display: none;
    place-items: center;
}
#chart-log {
    width: 100vw;
    height: 100vh;
    display: none;
    place-items: center;
}
#picture {
    width: 100vw;
    height: 100vh;
    display: none;
    place-items: center;
}
#logo {
    width: 80vw;
}
#chart .row {
    width: 100vw;
}
#chart-log .row {
    width: 100vw;
}
.left-num {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border-style: dashed; */
    border-width: 2px;
}
.left-num1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border-style: dashed; */
    border-width: 2px;
}
.content {
    width: 100%;
    height: 100%;
    font-family: Eyechart_Lea;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border-style: dashed; */
    border-width: 2px;
}
.content1 {
    width: 100%;
    height: 100%;
    font-family: Eyechart_Lea;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border-style: dashed; */
    border-width: 2px;
}
.content2 {
    width: 100%;
    height: 100%;
    font-family: Eyechart_Lea;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border-style: dashed; */
    border-width: 2px;
}
.right-num {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    /* border-style: dashed; */
    border-width: 2px;
}
.back {
    position: absolute;
    /* transform: translate(-50vw, -50vh) translate(25px,25px); */
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-radius: 20%;
    display: none;
    border-style: none;
    cursor: pointer;
    font-size: x-large;
}
/* Portrait */
@media screen and (orientation:portrait) {
    /* Portrait styles */
    .gridcell button {
        /* border: 2px solid tomato; */
        width: 18vw;
        height: 18vw;
        font-size: 12vw;
        box-shadow: rgba(50, 50, 93, 0.25) 0vw 5vw 10vw -2vw, rgba(0, 0, 0, 0.3) 0vw 3vw 6vw -3vw, rgba(10, 37, 64, 0.35) 0vw -.2vw .6vw 0vw inset;
        backdrop-filter: blur( .5vw );
        -webkit-backdrop-filter: blur( .5vw );
        /* border-width: 0.1vw; */
    }
    .gridcell button:focus{
        box-shadow: rgba(205, 205, 118, 0.25) 0vw 3vw 6vw -1.2vw inset, rgba(255, 255, 255, 0.3) 0vw 1.8vw 3.6vw -1.8vw inset;
    } 
    .btn-name {
        font-size: 2vw;
    }
    .abc {
        font-size: 7vw;
    }
    .emo {
        font-size: 9vw;
    }
    .btn-symbol-box {
        border-width: .1vw;
        width: 11vw;
        height: 8vw;
    }
    .trans {
        transform: translateY(1.5vw);
    }
    .btn-symbol-box-scc {
        width: 8vw;
        height: 8vw;
    }
    .ish {
        border-width: .2vw;
        height: 11vw;
    }
    .btn-symbol-box-se {
        font-size: 3vw;
        border-width: .1vw;
        width: 9vw;
        height: 10vw;
    }
    .btn-symbol-in-1 {
        font-size: 3.3vw;
    }
    .btn-symbol-in-2 {
        font-size: 2.3vw;
    }
    .btn-symbol-in-3 {
        font-size: 2vw;
    }
    .rg {
        font-size: 3vw;
    }
    .ped {
        font-size: 6vw;
    }
    button {
        padding: 2vw;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    /* Landscape styles */
    .gridcell button {
        /* border: 2px solid tomato; */
        width: 18vh;
        height: 18vh;
        font-size: 12vh;
        box-shadow: rgba(50, 50, 93, 0.25) 0vh 5vh 10vh -2vh, rgba(0, 0, 0, 0.3) 0vh 3vh 6vh -3vh, rgba(10, 37, 64, 0.35) 0vh -.2vh .6vh 0vh inset;
        backdrop-filter: blur( .5vh );
        -webkit-backdrop-filter: blur( .5vh );
        /* border-width: 0.1vh; */
    }
    .gridcell button:focus{
        box-shadow: rgba(205, 205, 118, 0.25) 0vh 3vh 6vh -1.2vh inset, rgba(255, 255, 255, 0.3) 0vh 1.8vh 3.6vh -1.8vh inset;
    } 
    .btn-name {
        font-size: 2vh;
    }
    .abc {
        font-size: 7vh;
    }
    .emo {
        font-size: 9vh;
    }
    .btn-symbol-box {
        border-width: .1vh;
        width: 11vh;
        height: 8vh;
    }
    .trans {
        transform: translateY(1.5vh);
    }
    .btn-symbol-box-scc {
        width: 8vh;
        height: 8vh;
    }
    .ish {
        border-width: .2vh;
        height: 11vh;
    }
    .btn-symbol-box-se {
        font-size: 3vh;
        border-width: .1vh;
        width: 9vh;
        height: 10vh;
    }
    .btn-symbol-in-1 {
        font-size: 3.3vh;
    }
    .btn-symbol-in-2 {
        font-size: 2.3vh;
    }
    .btn-symbol-in-3 {
        font-size: 2vh;
    }
    .rg {
        font-size: 3vh;
    }
    .ped {
        font-size: 6vh;
    }
    button {
        padding: 2vh;
    }
}
@media (min-width:1281px) {
    #app {
        -webkit-animation-name: move-left;
        animation-name: move-left;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-fill-mode: reverse;
        animation-fill-mode: reverse
    }
    #chart {
        -webkit-animation-name: move-right;
        animation-name: move-right;
        -webkit-animation-duration: .2s;
        animation-duration: .2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }
    #back {
        transform: translate(-50vw, -50vh) translate(25px,25px);
    }
    
}
@keyframes move-left {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-10%);
		transform: translateX(-10%);
        transition: transform;
        will-change: transform;
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0%);
		transform: translateX(0%);
        transition: transform;
        will-change: transform;
    }
}
@keyframes move-right {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(10%);
		transform: translateX(10%);
        transition: transform;
        will-change: transform;
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0%);
		transform: translateX(0%);
        transition: transform;
        will-change: transform;
    }
}
@keyframes move-top {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@keyframes move-bottom {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
