@font-face {
    font-family: SnellenMK;
    src: url(Snellen.otf);
}
@font-face {
    font-family: OpticalK;
    src: url(Optiker-K.ttf);
}
@font-face {
    font-family: Eyechart;
    src: url(Eyechart.ttf);
}
@font-face {
    font-family: Eyechart_Lea;
    src: url(Eyechart_Lea.ttf);
}
body {
    color: rgb(51, 51, 51);
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.grid {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.gridcell button {
    /* border: 2px solid DodgerBlue; */
    cursor: pointer; 
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}
.gridcell button:focus{
    color: white;
    background: rgba(126, 23, 146, 0.7);
}
.gridcell:focus, .gridcell *:focus {
	/* outline: DodgerBlue;  */
    outline: #ffffff00;
    outline-style: solid;
}
button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-width: 0px;
}
.btn-symbol {
    font-family: Eyechart_Lea;
}
.btn-symbol-box {
    border-style: solid;
    display: grid;
    place-items: center;
}
.btn-symbol-box-rg {
    background: linear-gradient(to right,rgb(255, 0,0) 50%, rgb(0,255,0) 50%);
    border-style: solid;
    display: grid;
    place-content: center;
}
#fullscreen {
    position: absolute;
    transform: translate(100vw, -50vh) translate(-115px,25px);
    border-radius: 5%;
    border-style: none;
    cursor: pointer;
    font-size: large;
}
#chart {
    width: 100vw;
    height: 100vh;
    display: none;
    place-items: center;
}
#chart .row {
    width: 100vw;
}
.left-num {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border-style: dashed; */
    border-width: 2px;
}
.content {
    width: 100%;
    height: 100%;
    font-family: Eyechart_Lea;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border-style: dashed; */
    border-width: 2px;
}
.content1 {
    width: 100%;
    height: 100%;
    font-family: Eyechart_Lea;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border-style: dashed; */
    border-width: 2px;
}
.right-num {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    /* border-style: dashed; */
    border-width: 2px;
}
#back {
    position: absolute;
    /* transform: translate(-50vw, -50vh) translate(25px,25px); */
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-radius: 20%;
    display: none;
    border-style: none;
    cursor: pointer;
    font-size: x-large;
}
/* Portrait */
@media screen and (orientation:portrait) {
    /* Portrait styles */
    .gridcell button {
        /* border: 2px solid tomato; */
        width: 25vw;
        height: 25vw;
        font-size: 14vw;
    }
    .gridcell button {
        box-shadow: rgba(50, 50, 93, 0.25) 0vw 5vw 10vw -2vw, rgba(0, 0, 0, 0.3) 0vw 3vw 6vw -3vw, rgba(10, 37, 64, 0.35) 0vw -.2vw .6vw 0vw inset;
        backdrop-filter: blur( 2vw );
        -webkit-backdrop-filter: blur( 2vw );
    }
    .gridcell button:focus{
        box-shadow: rgba(205, 205, 118, 0.25) 0vw 3vw 6vw -1.2vw inset, rgba(255, 255, 255, 0.3) 0vw 1.8vw 3.6vw -1.8vw inset;
    } 
    .btn-name {
        font-size: 3vw;
    }
    .btn-symbol-box {
        font-size: 3.2vw;
        border-width: .1vw;
        width: 12vw;
        height: 14vw;
    }
    .btn-symbol-box-rg {
        font-size: 4vw;
        border-width: .1vw;
        width: 14vw;
        height: 10vw;
    }
    .ped {
        font-size: 8vw;
    }
    button {
        padding: 2vw;
    }
}
/* Landscape */
@media screen and (orientation:landscape) {
    /* Landscape styles */
    .gridcell button {
        /* border: 2px solid tomato; */
        width: 25vh;
        height: 25vh;
        font-size: 14vh;
    }
    .gridcell button {
        box-shadow: rgba(50, 50, 93, 0.25) 0vh 5vh 10vh -2vh, rgba(0, 0, 0, 0.3) 0vh 3vh 6vh -3vh, rgba(10, 37, 64, 0.35) 0vh -.2vh .6vh 0vh inset;
        backdrop-filter: blur( 2vh );
        -webkit-backdrop-filter: blur( 2vh );
    }
    .gridcell button:focus{
        box-shadow: rgba(205, 205, 118, 0.25) 0vh 3vh 6vh -1.2vh inset, rgba(255, 255, 255, 0.3) 0vh 1.8vh 3.6vh -1.8vh inset;
    } 
    .btn-name {
        font-size: 3vh;
    }
    .btn-symbol-box {
        font-size: 3.2vh;
        border-width: .1vh;
        width: 12vh;
        height: 14vh;
    }
    .btn-symbol-box-rg {
        font-size: 4vh;
        border-width: .1vh;
        width: 14vh;
        height: 10vh;
    }
    .ped {
        font-size: 8vh;
    }
    button {
        padding: 2vh;
    }
}
@media (min-width:1281px) {
    #app {
        -webkit-animation-name: move-left;
        animation-name: move-left;
        -webkit-animation-duration: .4s;
        animation-duration: .4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }
    #chart {
        -webkit-animation-name: move-right;
        animation-name: move-right;
        -webkit-animation-duration: .2s;
        animation-duration: .2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both
    }
    #back {
        transform: translate(-50vw, -50vh) translate(25px,25px);
    }
    
}
@keyframes move-left {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-10%);
		transform: translateX(-10%);
        transition: transform;
        will-change: transform;
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0%);
		transform: translateX(0%);
        transition: transform;
        will-change: transform;
    }
}
@keyframes move-right {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(10%);
		transform: translateX(10%);
        transition: transform;
        will-change: transform;
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0%);
		transform: translateX(0%);
        transition: transform;
        will-change: transform;
    }
}
@keyframes move-top {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@keyframes move-bottom {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
